@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-text-rgb: rgb(52, 58, 64);
  --foreground-rgb: rgb(33, 37, 41);
  --primary-rgb: rgba(82, 113, 255, 1);
  --primary-soft-rgb: rgb(193, 204, 250);
  --secondary-rgb: rgba(255, 194, 41, 1);
  --background-start-rgb: rgb(212, 218, 232);
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(248, 249, 250);
    --foreground-text-rgb: rgb(233, 236, 239);
    --background-start-rgb: rgb(7, 34, 54);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(145deg,
      transparent,
      var(--background-end-rgb)) var(--background-start-rgb);
}

@keyframes gradient-text {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.login{
  animation: gradient-text 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  background-size: 200% 100%;
}
